.painting__container {
    width: 350px;
    height: 730px;
    background-color: #e1ede6;
    padding: 20px 20px 30px 20px;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 768px) {
        width: 330px;
        height: 730px;
        gap: 30px;
    }
    @media (max-width: 576px) {
        width: 240px;
        height: 514px;
    }
}

.paintin__img {
    width: 310px;
    height: 422px;
    @media (max-width: 768px) {
        width: 290px;
        height: 422px;
    }
    @media (max-width: 576px) {
        width: 200px;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
}

.painting__author {
    color: #86928b;
    font-size: 18px;
    margin-top: 18px;
    @media (max-width: 576px) {
        font-size: 16px;
        margin-top: 10px;
    }
}

.painting__title_work {
    font-size: 30px;
    margin-top: 10px;
    @media (max-width: 576px) {
        font-size: 23px;
        margin-top: 10px;
    }
}

.painting__about {
    font-size: 18px;
    margin-top: 8px;
    @media (max-width: 576px) {
        font-size: 16px;
        margin-top: 10px;
    }
}

.painting__cost {
    color: #598d66;
    font-size: 24px;
    margin-top: 30px;
    @media (max-width: 576px) {
        position: absolute;
        bottom: 90px;
        left: 20px;
        font-size: 20px;
        margin-top: 30px;
        z-index: 99;
    }
}

.painting__btn {
    background: #e1ede6;
    border: 1px solid #598d66;
    width: 310px;
    height: 65px;
    color: #598d66;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    text-align: center;

    @media (max-width: 768px) {
        width: 290px;
        height: 65px;
    }

    @media (max-width: 576px) {
        position: absolute;
        bottom: 30px;
        left: 20px;
        width: 200px;
        height: 50px;
    }
}

.painting__container .painting__btn:active {
    background: #376b44;
    color: rgba(244, 246, 245, 1);
}

.painting__btn:hover {
    background: #598d66;
    color: rgba(244, 246, 245, 1);
}

.painting__btn:focus-visible {
    border: 1px solid #598d66;
    background: #d4e8d9;
}
