*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
}

#root {
    overflow: hidden;
    min-height: 100%;
    margin: 0 auto;
}

html,
body {
    height: 100%;
    min-width: 1440px;

    @media (max-width: 768px) {
        height: 100%;
        min-width: 768px;
    }

    @media (max-width: 576px) {
        height: 100%;
        min-width: 576px;
    }
    @media (max-width: 320px) {
        height: 100%;
        min-width: 320px;
    }
}

p,
h1,
a {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: black;
}

ul,
li,
h1,
a {
    list-style: none;
}

button {
    outline: none;
}
